import * as actionTypes from '../actions/demo.actions';


function doSomething(state, action) {
  return { ...state, something: action.something };
}

const demoReducers = (state = {}, action) => {
  switch (action.type) {
    case actionTypes.DEMO_DO_SOMETHING:
      return doSomething(state, action);

    default:
      return state;
  }
};

export default demoReducers;
