import React   from 'react';
import wrapper from '<<<WRAPPER_RELATIVE_PATH>>>';


const styles = theme => ({});



export default function <<<COMPONENT_NAME>>> ({classes}) {
  return (
    <div className={classes.root}>

    </div>
  );
}



export default wrapper(<<<COMPONENT_NAME>>>, {
  styles,
  isConnected: <<<IS_CONNECTED>>>,
  isTranslatable: <<<IS_TRANSLATABLE>>>,
  namespaces: <<<NAMESPACES>>>,
});