# GENERAL

HOST=localhost
PORT=[%PORT%]
PROTOCOL=http
ENABLE_SOURCE_MAP=FALSE
ENABLE_SERVICE_WORKER=[%ENABLE_SERVICE_WORKER%]
KEEP_DEV_TOOLS_ON_PRODUCTION=TRUE
FORCE_SSL=FALSE

# HTPASSWD

ENABLE_HTPASSWD=FALSE

# CACHING

ENABLE_SSR_CACHING=TRUE
SRR_CACHE_MAX_SIZE=100
SSR_CACHE_MAX_AGE=600000
