import React       from 'react';
import Layout      from '[%PAGE_LAYOUT_RELATIVE_PATH%]';
import pageWrapper from '[%WRAPPER_RELATIVE_PATH%]';


const styles = theme => ({});

function [%COMPONENT_NAME%]() {
  return (
    <Layout>

    </Layout>
  );
};


export default pageWrapper([%COMPONENT_NAME%], {
  name: '[%PAGE_NAME%]',
  styles,
});
